* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.job-details {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
}

.job-card-listing-wrapper {
    overflow-x: unset;
}

.candidate-job-search-wrapper {
    margin: 40px 30px;
}

.filter-wrapper {
    overflow: hidden;
}