* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.job-details {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 6;
    line-clamp: 6;
}